*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#000;
}
.box{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 245, 254);
}
.bos{
    width: 1200px;
    height: 200px;
}
.bos-word{
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 800;
}
.bov{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.bos-nav{
    width: 100%;
    height: 150px;
}
.nav-bos:hover{
    margin-top: -10px;
    box-shadow: 3px 3px 2px 3px #f1f0f0;
}
.nav-bos{
    width: 150px;
    height: 100px;
    margin-right:25px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex: 1;
    float: left;
    flex-direction: column
}
.nav-bos p:nth-child(1){
    font-size: 16px;
    font-weight: 800;
    margin: 10px 0 5px 15px;
}
.nav-bos p:nth-child(2){
    font-size: 12px;
    margin: 0px 0 0px 15px;
    color: rgb(194, 193, 208);
}
.nav-bos p:nth-child(3){
    font-size: 28px;
    font-weight: 800;
    margin: 5px 0 5px 15px;
}
#p3-1{
    color: rgb(117, 125, 237);
}
#p3-2{
    color: rgb(236, 135, 109);
}
#p3-3{
    color: rgb(122, 202, 130);
}
#p3-4{
    color: rgb(117, 125, 237);
}
#p3-5{
    color: rgb(234, 163, 91);
}
#p3-6{
    color: rgb(138, 216, 203);

}
.bos2-histogram{
    width: 100%;
    height: 420px;
}
.histogram-left{
    width: 500px;
    height: 420px;
    float: left;
}
.histogram-left:nth-child(2){
    margin-left: 20px;
}
.bos2-member{
    width: 500px;
    height: 50px;
}
.member-left{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    font-weight: 800;
    float: left;
    margin-left: 20px;
}
.an{
    width:280px;
    height: 50px;
    line-height: 50px;
    float: right;
}
.an button{
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}
.an button:hover{
    background-color: rgb(87, 142, 247);
    color: #fff;
}
.bos2-chart{
    width: 500px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
}
.operationa{
    width: 1000px;
    height: 700px;
}
.operationa-top{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.daa{
    width: 100px;
    height: 24px;
    padding-left:10px ;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.oper-left{
    font-size: 18px;
    font-weight: 800;
    float: left;
}
.oper-right{
    width: 520px;
    height: 50px;
    float: right;
}
.oper-right button{
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
}
.oper-right button:hover{
    background-color: rgb(87, 142, 247);
    color: #fff;
}
.operationa-bot{
    width: 1000px;
    height: 420px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
}
.bot-left{
    width: 450px;
    height: 380px;
    margin-left: 10px;
    margin-top: 40px;
    float: left;
}
.xuan{
    width: 200px;
    height: 100px;
    display: flex;
    flex: 1;
    float: left;
    flex-direction: column;
    background-color: rgb(243, 245, 254);
    margin: 10px;
    border-radius: 15px;
}
.xuan p:nth-child(1){
    color: rgb(74, 71, 74);
    font-size: 15px;
    margin: 10px 0 6px 10px;
}
.xuan p:nth-child(2){
    font-size: 24px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 5px;
}
.xuan p:nth-child(3){
    font-size: 10px;
    margin-left: 10px;
   color: rgb(200, 200, 212);
}
.xuan p:nth-child(3) span{
    font-size: 10px;
    display: inline-block;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(248, 223, 218);
    margin-left: 20px;
   color: red;
}
.xuan:hover{
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px  rgb(243, 245, 254);
}
.xuan:hover,.nav-bos:hover{
	-webkit-animation: fade-in-bottom 0.4s ;
	        animation: fade-in-bottom 0.4s ;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-10 17:20:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.chartbos{
    width: 450px;
    height: 420px;
    float: left;
}
@media screen and (max-width: 600px) {
    .bos-nav{
        width: 500px;
        height: 300px;
    }
    .nav-bos{
        width: 150px;
        height: 100px;
        margin: 25px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex: 1;
        float: left;
        flex-direction: column
    }
    .bos2-histogram{
        width: 500px;
        height: 420px;
    }
    .histogram-left{
        width: 500px;
        height: 420px;
        float: left;
    }
    .operationa-bot{
        width: 500px;
        height: 420px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 25px;
    }
    .oper-right{
        width: 520px;
        height: 50px;
        float:left;
    }
    .operationa{
        width: 500px;
        height: 700px;
    }
    .operationa-top{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .daa{
        width: 100px;
        height: 24px;
        padding-left:10px ;
        border-radius: 6px;
        border: 1px solid #ccc;
    }
    .oper-left{
        font-size: 18px;
        font-weight: 800;
        float: left;
    }
    .oper-right{
        width: 520px;
        height: 50px;
        float: right;
    }
}
/*# sourceMappingURL=my.css.map */
